body {
    background-color: rgb(54, 133, 54);
    text-align: center;
    font-family: sans-serif;
    background-size: fit;
    font-weight: bold;
    color: white;
}

h1 {
    color: gold;
}

.user-group {
    padding-top: 10px;
    font-size: large;
}

#message-el {
    font-style: italic;
    font-size: large;
}

#dealers-hand-el {
    font-size: large;
    font-style: italic;
}

#dealers-sum-el {
    font-size: large;
    font-style: italic;
}

.bttn-group button {
    color: green;
    width: 150px;
    background: gold;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    cursor: pointer;
}

.bttn-group button:hover {
    background-color: goldenrod;
}

.bttn-group button:active {
    background-color: gold;
    box-shadow: 2px #666;
    transform: translateY(1px);
}